/*
* Third Party
*/
@import "../../../bower_components/normalize.css/normalize.css";
/*
* Custom example for collector ->  @import "partials/app";
*/
//@import "compass/reset";


@import "partials/_grid";
@import "compass";
@import "compass/utilities/sprites";
@import "icons/*.png";

//$icons-sprite-dimensions: true;

.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

$blue-color: #3f4e86;
$margin: 20px;
$height: icons-sprite-height(experience);

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.wrapper {
  border-top: 3px solid $blue-color;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 10px;
}

/***header***/

.row_contacts {
  background-color: $blue-color;
  padding: 10px 0;
  margin-bottom: 2px;
}

.contact__title {
  color: #ffffff;
}

.contact__item {
  color: #aad4ff;
  text-decoration: none;
}

.all-contacts {
  text-align: right;
  vertical-align: middle;
  a {
    color: #aad4ff;
  }
}

@media (max-width: 767px) {
  .all-contacts, .contacts, .preferences {
    text-align: center;
  }
  .nav-menu{
    margin-right: -10px;
  }

}
@media (min-width: 768px) {
  .menu__item:hover{
    .menu-link{
      &::after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 17px 0 17px 10px;
        border-color: transparent transparent transparent #3f4e86;
        position: absolute;
        right: -10px;
        top: 0;
      }
    }
  }
}

.logo {
  background-color: #ededed;
  margin: 0 -10px;
}

.logo a {
  display: block;
  background: url("../img/logo.png") no-repeat center;
  height: 52px;
}

.preferences-experience, .preferences-methods, .preferences-approach {
  background-repeat: no-repeat;
  background-size: cover;
  height: 52px;
}

.preferences-experience {
  background-image: url("../img/experience-bg.jpg");
  margin: 0 -10px;
}

.preferences-methods {
  background-image: url("../img/methods-bg.jpg");
  margin: 0 -10px;
}

.preferences-approach {
  background-image: url("../img/approach-bg.jpg");
  margin: 0 -10px;
}

.preferences::before {
  content: "";
  display: inline-block;
  min-height: inherit;
  height: 100%;
  vertical-align: middle;
}

.preferences__title {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  padding-left: 60px;
  position: relative;
}

//[class*="_experience"]::before{
//  content: '';
//  @include icons-sprite(experience);
//  display: inline-block;
//  position: absolute;
//  left: 10px;
//}

/***main***/

.nav-menu {
  margin-left: -10px;
  background-color: #e4e5e9;
}

.menu {
  padding-left: 0;
}

.sub-menu{
  display: none;
  padding-left: 30px;
  .sub-menu__item{
    list-style: disc $blue-color;
    a{
      padding: 5px;
      display: inline-block;
    }
  }
}

.menu__item {
  list-style: none;
  border-bottom: 1px solid #d7d7d7;
  border-top: 1px solid #f4f4f4;
  position: relative;
  &:last-child {
    border-bottom: none;
  }
  &:first-child {
    border-top: none;
  }
  .menu-link {
    color: black;
    font-size: 13px;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    width: 100%;
  }
}

ul.menu > li.menu__item:hover > ul.sub-menu{
   display: block;
}

li.menu__item:hover > .menu-link{
  background-color: $blue-color;
  color: white;
}

h1{
  color: red;
  font-size: 30px;
}
