/*
* Third Party
*/
@import "../../../bower_components/normalize.css/normalize.css";
/*
* Custom example for collector ->  @import "partials/app";
*/
//@import "compass/reset";
@import "partials/_grid";
@import "compass";
@import "compass/utilities/sprites";
@import "icons/*.png";

//$icons-sprite-dimensions: true;

.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

$blue-color: #3f4e86;
$margin: 20px;
$height: icons-sprite-height(experience);

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.wrapper {
  border-top: 3px solid $blue-color;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 10px;
}

/***header***/

.row_contacts {
  background-color: $blue-color;
  padding: 10px 0;
  margin-bottom: 2px;
}

.contact__title {
  color: #ffffff;
}

.contact__item {
  color: #aad4ff;
  text-decoration: none;
}

.all-contacts {
  text-align: right;
  vertical-align: middle;
  a {
    color: #aad4ff;
  }
}

@media (max-width: 767px) {
  .all-contacts, .contacts, .preferences {
    text-align: center;
  }
}

.logo {
  background-color: #ededed;
  margin: 0 -10px;
}

.logo a {
  display: block;
  background: url("../img/logo.png") no-repeat center;
  height: 52px;
}
.preferences-experience, .preferences-methods, .preferences-approach {
  background-repeat: no-repeat;
  background-size: cover;
  height: 52px;
}

.preferences-experience {
  background-image: url("../img/experience-bg.jpg");
  margin: 0 -10px;
}

.preferences-methods {
  background-image: url("../img/methods-bg.jpg");
  margin: 0 -10px;
}

.preferences-approach {
  background-image: url("../img/approach-bg.jpg");
  margin: 0 -10px;
}

.preferences::before{
  content: "";
  display: inline-block;
  min-height: inherit;
  height: 100%;
  vertical-align: middle;
}

.preferences__title {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  padding-left: 60px;
  position: relative;
}

//[class*="_experience"]::before{
//  content: '';
//  @include icons-sprite(experience);
//  display: inline-block;
//  position: absolute;
//  left: 10px;
//}

/***main***/

.nav-menu{
  margin: 0 -10px;
  background-color: #e4e5e9;
}

.menu{
  padding-left: 0;
}

.menu__item{
  list-style: none;
  border-bottom: 1px solid #d7d7d7;
  border-top: 1px solid #f4f4f4;
  &:last-child{
    border-bottom: none;
  }

  a{
    color: black;
    font-size: 13px;
    text-decoration: none;
    display: block;
  }
}
