doctypehtml
html(lang='uk')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title movos
    link(rel='stylesheet', href='css/style.css')
  body
    .wrapper
      .container
        .row.row_contacts.clearfix
          .col-sm-8
            .contacts
              span(class="contact__title") Багатоканальний телефон:
              a(class="contact__item" href="tel:+38097909692")  +38 (097) 909-69-2
          .col-sm-4
            .all-contacts
              a(href="#") Наші контакти
        .row.clearfix
          .col-sm-3.col-logo
            .logo
              a(href="#" title="на головну")
          .col-sm-3
            .preferences.preferences-experience
              .preferences__title.preferences__title_experience багаторічний досвід
          .col-sm-3
            .preferences.preferences-methods
              .preferences__title інтерактивні методи
          .col-sm-3
            .preferences.preferences-approach
              .preferences__title.preferences__title_experience індивідуальний підхід до кожного

        //***main***

        .row
          .col-sm-3
            .nav-menu
              ul(class="menu")
                li(class="menu__item")
                  a(class="menu-link"  href="#") Головна
                li(class="menu__item")
                  a(class="menu-link"  href="#") Про нас
                li(class="menu__item")
                  a(class="menu-link"  href="#") Послуги
                li(class="menu__item")
                  a(class="menu-link"  href="#") Англійська мова
                li(class="menu__item")
                  a(class="menu-link"  href="#") Французька мова
                  ul(class="sub-menu")
                    li(class="sub-menu__item")
                      a(href="#") Вивченя французької мови
                    li(class="sub-menu__item")
                      a(href="#") Індивідуальні курси
                    li(class="sub-menu__item")
                      a(href="#") Поглиблені курси    
                li(class="menu__item")
                  a(class="menu-link"  href="#") Німецька
                li(class="menu__item")
                  a(class="menu-link"  href="#") Контакти
          .col-sm-9
            .content
              p Скільки разів ви, ваші друзі, знайомі чи родичі починали вчити іноземну мову і через деякий час залишали справу «до кращих часів», бо поки що не виходить?
              p Скільки разів ви знали слова, аде боялися сказати: раптом щось не правильно?
              p Скільки разів ви просто не могли згадати таке просте і точно відоме вам слово?
              p І, як наслідок, страх, сором, комплекси «я ніколи не зможу вивчити іншу мову».
              p Що потрібно, щоб дійсно розмовляти іноземною мовою?
              p МЕТА! Ви повинні мати свою власну мету, для чтого вам потрібна іноземна мова.
              p Мета повинна бути чітка й прозора, а головне — мати чіткі часові межі. Якщо у вас є мета — 80% успіху у вас в кишені.
        .footer
          .row
            .col-sm-6
            .col-sm-6