doctypehtml
html(lang='uk')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title movos
    link(rel='stylesheet', href='css/style.css')
  body
    .wrapper
      .container
        .header
          .row.row_contacts.clearfix
            .col-sm-8
              .contacts
                span(class="contact__title") Багатоканальний телефон:
                a(class="contact__item" href="tel:+38097909692")  +38 (097) 909-69-2
            .col-sm-4
              .all-contacts
                a(href="#") Наші контакти
          .row.clearfix
            .col-sm-3.col-logo
              .logo
                a(href="#" title="на головну")
            .col-sm-3.col-experience
              .preferences
                .icons.icons_experience
                span(class="preferences__title") багаторічний досвід
            .col-sm-3.col-methods
              .preferences
                span(class="preferences__title preferences__title_methods") інтерактивні методи
            .col-sm-3.col-approach
              .preferences
                span(class="preferences__title preferences__title_approach") індивідуальний підхід до кожного
        .main
          .content
          .nav-menu
        .footer
          .row
            .col-sm-6
            .col-sm-6